@import url('https://fonts.googleapis.com/css2?family=Lato');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Lato', sans-serif;
  color: #222;
  text-shadow: 3px 3px #000;
  font-weight: bold;
}

.nav{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 3;
    padding: 10px;
}
.nav .nav-container{
    display: flex;
    justify-content: center;
}

.nav ul{
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: center;
}

.nav a{
    color: #fff;
    text-decoration: none;
    padding: 0px 15px;
    font-size: 25px;
}
.nav a:after 
{
content: '';
display: block;
height: 2px;
width: 0;
background: transparent;
transition: width .5s ease, background-color .5s ease;

}
.nav a:hover:after 
{
width: 100%;
background: #fff;
}

.hero {
  background-image: url("https://images.pexels.com/photos/1672322/pexels-photo-1672322.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 100vh;
  color: #fff;
  display: flex;
  align-items: flex-end;
  justify-content: initial;
  position: relative;
  z-index: 2;
}

.container {
  max-width: 1200px;
  z-index: 3;
  display: flex;
  left: 0;
  position: relative;
  flex-wrap: wrap;
}

.container h1 {
  font-size: 75px;
  margin-bottom: 200px;
  margin-left: 50px;
}

.certification-thumbnail {
  max-width: 150px;
  margin-left: 50px;
}

.tagline {
  font-size: 25px;
  color: #fff;
  position: absolute;
  left: 50px;
  bottom: 140px;

}

.textbox {
  visibility: hidden;
  display: block;
  background: #000;
  color: #fff;
  border-radius: 12px;
  padding: 10px;
  position: absolute;
  left: 400px;
  bottom: 300px;
  white-space: nowrap;
}

.certifications:hover .textbox {
    visibility: visible;
}
